stages:
  - build

variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"
  ASPNETCORE_ENVIRONMENT: "Development"
  # DOCKER_HOST 告訴 Docker CLI 如何連接到 dind 服務
  # DOCKER_TLS_CERTDIR 是禁用 TLS 的一種方式
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

build:
  stage: build
  image: docker:latest
  script:
    - export IMAGE_TAG=$(date +%Y%m%d)-${CI_COMMIT_SHORT_SHA}-${CI_COMMIT_REF_NAME}
    - echo "Building image with tag: $IMAGE_TAG"

    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$IMAGE_TAG" -t "$CI_REGISTRY_IMAGE:latest" .
    - docker push "$CI_REGISTRY_IMAGE:$IMAGE_TAG"
    - docker push "$CI_REGISTRY_IMAGE:latest"
