stages:
  - build

variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"
  ASPNETCORE_ENVIRONMENT: "Development"

before_script:
  - echo "Using .NET SDK version:" $(dotnet --version)

docker-build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t smartflow-backend .
  only:
    - main
